.landing {
    min-width: 946px;
    height: 100%;
    min-height: 600px;
    background-color: black;
    background-image: url('../img/landing/stary-backgroundScaled.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}