/* Profile */

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


/* Profile Section ColumnLeft */

#columnLeft {
    width: 200px;
    height: 300px;
    /* border: 1px solid rgba(255, 255, 255, 0.8); */
}

.avatar {
    border-radius: 75%;
    align-self: center;
}

.profile_picture__logo {
    width: 200px;
}


/*Skills */

.profile_column {
    display: flex;
    flex-direction: column;
}

.profile_column ul {
    list-style: none;
}

.profile_info__skills ul {
    display: flex;
    list-style: none;
}


/* Radials */

.radialDivs {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.radial_label {
    color: white;
    text-align: center;
}


/* About Section below Radials */

.profile_info__about {
    color: white;
    justify-content: center;
    width: 490px;
    margin-left: 50px;
}